@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.bg-image-sell {
  background-image: url('/images/sell.webp');
  background-size: cover;
  background-position: center;
}

.bg-image-desert {
  background-image: url('/images/deliver.webp');
  background-size: cover;
  background-position: center;
}